$colours: (
  primary: #C32C72,
  secondary: #F4F3EE,
  background-colour: #E5E5E5,
  dark-grey: #463F3A,
  light-grey: #8D8D8D,
);


@function getColour($colour) {
  @return map-get($colours, $colour);
}