html,
body {
  height: 100%;
}

body {
  font-family: "Open sans", sans-serif;
  background-color: getColour(bg-colour);
  color: getColour(light-grey);
  display: flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
}

.wrapper {
  flex: 1 0 auto;
}