.nav {
  background: getColour(secondary);
  padding: 1rem 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  // box-shadow: $shadow;

  @include breakpoint-up(large) {
    padding: 1rem 7rem;
  }

  &__logo {
    font-family: $primary-font;
    font-size: 1.7rem;
  }
  &__list {
    justify-content: flex-end;
  }

  &__item {

    &--active {
      color: getColour(primary) !important;
    }
  }

  &__link {
    color: getColour(dark-grey);
    font-family: $secondary-font;
  }
}


.nav-shadow {
  box-shadow: 0px 6px 12px #00000021;
}