.squares {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, 220px);
  // // grid-template-columns: repeat(2, 1fr);
  // grid-gap: 1.5rem;
  margin: 2rem 1rem;
  justify-content: center;

  // @media (min-width: 668px) {
  //   grid-template-columns: repeat(4, 1fr);
  // }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.875rem;
    margin: 1rem 3rem;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
      margin: 1rem 4rem;
    }
    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
      margin: 1rem 6rem;
      grid-gap: 1rem;
    }
  }

  &__item {
    border-radius: 6%;
    padding-top: 100%;
    background: getColour(secondary);


    &--pink {
      @extend .squares__item;
      background: getColour(primary);
      border: 1px solid white;
    }

    &--pink--outline {
      @extend .squares__item;
      background: white;
      border: 3px solid getColour(primary);
    }
    
  }

}
