h1,
h2,
h3,
h4 {
  font-family: $primary-font;
}

h1 {
  font-size: 1.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: getColour(dark-grey);
}

a {
  color: getColour(light-grey);
  font-family: $secondary-font;
}

.page__heading {
  text-align: center;
}